.ad-container{
    /* border: 2px solid brown; */
    max-height: 200px;
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "text img"
    ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adText-container{
    grid-area: text;

}

.adImage-container{
    grid-area: img;

}
.ad-container img {
    /* max-width: 500px; */
    max-height: 300px;
    border-radius: 15px;
}