.active-cart{
    /* display: grid; */
    border: solid blue 2px;
    margin-top: 5vh;
}

#restaurant-name{
    font-size:xx-large;
    font-weight: 200;
    text-align: center;
    text-decoration: underline;
}

#food-img{
    width: 150px;
}

#meal-img{
flex:1;
}

#meal-name{
flex: 1;
}

#single-meal{
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: 10vw;
}

#order-num{
    text-align: center;
    font-weight: 100;
    margin: 10px;
}

.cart-container{
    display: flex;
    flex-direction: row;
    border: solid red 1px;
    justify-content: center;
}

button{
    margin-top: 10px;
}