.active-cart{
    /* display: grid; */
    margin-top: 5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.active-empty-cart{
    display: grid;
    max-height: 100vh;
}

.active-cart-check{
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: baseline;
justify-items: center;
}

.restaurant-name{
    margin: 60px;
}

#food-img {
    width: 150px;
}

#meal-img{
flex:1;
}

.meal-details{
    margin: 20px;
    flex: 1.5;
}

.meal-container{
    display: flex;
    width: 100%;
    align-items: center;
    /* margin-right: 10vw; */
    margin-bottom: 5px;
    border-radius: 18px;
}

.meal-container:nth-child(even){
    background-color: rgba(91, 201, 203, 0.312);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.227);
    
}

.meal-container button {
    background: none;
    border: none;
    padding: none;
}

.meal-container img{
    width: 200px;
}

#order-num{
    text-align: center;
    font-weight: 100;
    margin: 10px;
}

.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
}

.cart-container button{
    background-color: rgb(91, 201, 203); /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.2s;
    line-height: 100%;
}

.cart-container button:hover{
    color: white;
    background-color: #4CAF50;
}

.css-i4bv87-MuiSvgIcon-root{
    color: red;
}

.checkout-btn{
    background-color: rgb(91, 201, 203);
    color: white;
    padding: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

.active-cart-checkout-btn{
    border: 2px solid black;
}