.button-container{
    display: grid;
    padding: 5px;
}

.button-container button{
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 150px;
    background-color: ghostwhite;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
    transition: all 0.4s ease 0s;
    cursor: pointer;

}

.button-image{
    height: 20px;
}

.button-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

.button-container button:hover{
    background-color: #d1dbe1;
}