#main-content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:grid;
    margin: 50px;
    /* border: 1px solid blue; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "signup faq"
    "maintext img1"
    "img2 maintext2"
    ;
    gap: 40px;
}

#main-content img{
    width: 100%;
}

#sign-up {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-area: signup;
  
}

#sign-up img {
    width: 30%;
}

#faq {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-area: faq;
}

#faq img {
    width: 50%;
}

#veggies-img {
    /* border: 1px solid red; */
    /* height: 200px; */
    background-size: cover;
    grid-area: img1;
}

#main-content-text {
    /* border: 1px solid red; */
    margin: 100px;
    max-width: 100%;
    grid-area: maintext;
}

#veggies2-img {
    /* border: 1px solid red; */
    /* height: 200px; */
    background-size: cover;
    grid-area: img2;
}

#main-content-text2 {
    /* border: 1px solid red; */
    margin: 100px;
    max-width: 100%;
    grid-area: maintext2;
}