.footer{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:rgb(110, 217, 227);
text-align: center;
background-color: #406e8e;
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;
}

