 /* .home-container{ 
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 580px;
    width: 100vw;
} */

.logged-out-container img{
  width: 100vw;
}

.blah{
    display: flex;
}






 .mapView{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    margin-top: 10px;
} 