.nav-btns{
    display: inline;
    margin:100px;
}

.nav-container {
    z-index: 7;
    padding: 10px;
    display: flex;
    background-color: #406e8e;
    justify-content: space-between;
    border: 2px solid rgb(110, 217, 227);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-logo {
    justify-content: center;
}

.home-logo img {
    margin: 20px;
    width: 50px;
}

.navbar-text {
    text-align: center;
    color: white;
    font-size: 50px;
}

.cart {
    display: flex;
}

.cart div{
    margin: none;
    display: flex;
    align-items: center
}

.profile-logout-container a {
    margin: 0px 15px 0px 0px;
    
}

.login-container {
    margin: 0px 15px 0px 0px; 
}

nav a {
    text-decoration: none;
    color: white;
}


