.nav-btns{
    display: inline;
    margin:100px;
}

.nav-container {
    display: flex;
    background-color: rgba(46, 67, 106, 0.672);
    justify-content: space-between;
    padding: 10px;
    z-index: 7;
}

.home-logo {
    justify-content: center;
}

.home-logo img {
    margin: 20px;
    width: 50px;
}

.navbar-text {
    text-align: center;
    color: white;
    font-size: 50px;
}

.cart {
    display: flex;
}

.cart div{
    margin: none;
    display: flex;
    align-items: center
}

.profile-logout-container a {
    margin: 0px 15px 0px 0px;
    
}

.login-container {
    margin: 0px 15px 0px 0px; 
}

nav a {
    text-decoration: none;
    color: white;
}


