nav {
    display: flex;
    justify-content: space-between;
    background-color: #23395b;
    padding: 10px;
    margin-bottom: 0;
    z-index: 7;
}

.home-logo {
    justify-content: center;
}

.home-logo img {
    width: 50px;
}

.cart {
    display: flex;
}

.cart div{
    margin: none;
    display: flex;
    align-items: center
}

.profile-logout-container a {
    margin: 0px 15px 0px 0px;
    
}

.login-container {
    margin: 0px 15px 0px 0px; 
}

nav a {
    text-decoration: none;
    color: white;
}


