.po-container{
    border: 1px solid red;
    margin: 20px 40px;
    text-align: center;
}


.info-container {
    text-align: center;
    background-color: rgba(240, 240, 247, 0.519);
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(213, 213, 223);
}