.po-container{
    margin: 20px 40px;
    text-align: center;
}


.info-container {
    text-align: center;
    align-self: center;
    background-color: #f5f3eb;
    border-radius: 15px;
    height: auto;
    margin-bottom: 15px;
}
/* text-align: center;
display: flex;
align-self: center;
background-color: #f5f3eb;
border-radius: 15px;
height: 7vh;
margin-bottom: 15px;
border: 1px solid rgb(213, 213, 223);
align-content: center;
flex-wrap: wrap;
justify-content: space-evenly; */

.info-name{

}

.info-quantity{

}

.hr5{
    border: 0;
    border-bottom: 2px solid rgb(240, 232, 232);
    height: 3px;
}