.po-container{
    margin: 20px 40px;
    text-align: center;
}


.info-container {
    text-align: center;
    align-self: center;
    border-radius: 15px;
    height: auto;
    margin-bottom: 15px;
    padding: 3px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.127);
}

.info-container:nth-child(even){
    background-color: rgba(91, 201, 203, 0.312);

}

.pre-cart-link{
    text-decoration: none;
    color: black;
}


/* .info-name{

}

.info-quantity{

} */

.hr5{
    border: 0;
    border-bottom: 2px solid rgb(240, 232, 232);
    height: 3px;
}