body{
  border: 1px solid black;
  margin:0;
  padding: 0;
}

.products-container{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  margin: 100px;
  gap: 50px;
}

.individual-product{ 
  margin: 200px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:0;
  padding: 0;
}

.product-details{
  text-align: left;
}


#product-image{
  height: 250px;
}

#add-to-cart-btn{
  background-color: #abcbac; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.2s;
  line-height: 100%;
}

#add-to-cart-btn:hover {
  color: white;
  background-color: #4CAF50; /* Green */
}

/* .dietary-restrictions{
  align-items: center;
  display: flex;
  height: 50px;
  margin: 0;
  padding: 0;
} */

#dietary-sprite{
  padding: 0;
  margin:0;
  height: 30px;
}

.restaurant-details{
  text-align: center;
  margin: 0;
  padding: 0;
  border: 2px solid black;
}