.restaurant-div-1{
  margin: 70px;
  padding: 80px;
  height: 500px;
  text-align: center;
  /* border: 1px solid black; */
}

.restaurants-list-container{
  /* border: 1px solid black; */
}

.restaurants-container img{
  width: 50px;
}