.restaurant-container{
    color: white;
    background-color: rgba(91, 201, 203, 0.312);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.127);
    margin: 3px;
    z-index: 1;
}

.restLink{
    text-decoration: none;
    color: black;
    /* z-index: 1; */
}

.restaurant-data{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2px;
    padding: 2px;
    text-align: center;
}

.restaurant-data:hover{
    color:white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(27, 228, 255, 0.324), 0 12px 20px 0 rgba(124, 129, 130, 0.324);
}

/* .restaurant-image:hover{
    opacity: 0.5;
} */

.restaurant-name{
    margin: 10px;
} 

.restaurant-address{
    margin: 10px;
}
.restaurant-type{
    margin: 10px;
} 

.image-container{
    max-height: 220px;
    border-radius: 25px;
    margin: 10px;
    box-shadow: inset 0px 0px 15px 4px rgb(0 0 0 / 90%);
    z-index: 0;
}

.image-container img{
    max-height: 220px;
    border-radius: 25px;
    position: relative;
    z-index: -1;
}

.restaurant-image{
    width: 330px;
}


