.restaurant-container{
   background-color: rgba(255, 250, 243, 0.924);
   border-radius: 15px;
    margin: 20px;
    padding: 10px;
    /* max-width: 300px; */
}

.restLink{
    text-decoration: none;
    color: black;
}

.restaurant-data{
    margin: 2px;
    padding: 2px;
}

.restaurant-name{
    margin: 10px 0;
} 

.restaurant-address{
    margin: 10px 0;
}
.restaurant-type{
    margin: 10px 0;
} 