.sideBar-container{
    display: grid;
   height: 100%;
   width: 20vw;
   /* background-color: rgba(234, 234, 234, 0.885); */
}

.sideBar-content ul{
    padding: 0;
}

.sideBar-content li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    background-color: none;
    padding: 10px;
    margin: 3px 0;
    justify-items: center;
    border-radius: 20px;
}

.sideBar-content li:hover{
    background-color:rgb(221, 237, 250);
}

.sideBar-content li:active{
    background-color: blue;
}
