.uv-container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'side wel wel'
    'side wel wel'
    'side main main'
    'side main main';
}

.w-container{
    grid-area: wel;
}
.up-container{
    grid-area: main;
    margin: 10px;
    border: 5px solid #2f5374;
    height: 70vh;
    width: 65vw;
    border-style: solid;
    background-color: rgb(242, 239, 235);
}
.sb-container{
    grid-area: side;
}

