.navbar{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    
    &__logo{  
        width: 150px;
    }

    &__buttonContainer{
        display: flex;
        width: 500px;
        justify-content: flex-end;
        margin-left: 2px;
        & button{
            margin-right: 5px;
        }
    }
    
   

}
