nav {
    /* border: 1px solid gold; */
    display: flex;
    justify-content: space-between;
    background-color: #23395b;
    padding: 10px;
}

.home-logo {
    justify-content: center;
}

.home-logo img {
    width: 50px;
}

.cart {
    display: flex;
}

.cart div{
    margin: 0px 15px 0px 0px;

}


