.restaurant-div-1{
  margin: 70px;
  padding: 100px;
  margin-bottom: 100px;
  height: 500px;
  text-align: center;
    border: 1px solid black;
}

.restaurants-container{
  border: 1px solid black;
}

.restaurants-container img{
  width: 50px;
}