body {
    margin: 0; 
    /* position: absolute; */
  
}

.main { 
    /* display: flex;  */
    /* position: inherit; */
    height: 100vh;
    width: 100%;
    padding-bottom: 3.7rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}









